// 页面
.page-container {
    padding: 32px 22px;
}

.full-page-container {
    min-height: calc(100vh - 110px);
    background-color: #fff;
    border-radius: 5px;
}

// 顶部右侧语言选择
.header-lang-right {
    display: flex;
    align-items: center;
    color: var(--font-black1);

    &::before {
        position: relative;
        left: -9px;
        display: inline-block;
        width: 12px;
        height: 12px;
        content: '';
        background: currentColor;
        border-radius: 50%;
    }
}

// 隐藏滚动条
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}

.elipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link {
    color: $active-color;
    cursor: pointer;

    &:hover {
        opacity: 0.85;
    }
}

body {
    .form-title {
        @include font($font-huge);

        margin-bottom: 40px;
        font-weight: bold;
        color: #000;
        text-align: center;
    }

    .form,
    .login-form {
        .el-button {
            span {
                @include font($font-small);

                font-weight: 350;
                line-height: 24px;
            }
        }

        .el-form-item {
            align-items: center;
            margin-bottom: 24px;
        }

        .form-item {
            display: flex;
            align-items: center;
            width: 100%;

            .form-input {
                flex: 1;
                height: 40px;
            }
        }

        .el-select {
            height: 40px;
        }

        .el-form-item__label {
            @include font($font-small);

            font-weight: bold;
            color: #000;
        }

        .el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label::before,
        .el-form-item.is-required:not(.is-no-asterisk).asterisk-left
            > .el-form-item__label-wrap
            > .el-form-item__label::before {
            position: absolute;
            right: 20px;
            margin-top: 3px;
            margin-right: 4px;
            color: var(--el-color-danger);
            content: '*';
        }
    }

    // 隐藏input的required红星
    .no-required {
        .el-form-item__label {
            &::before {
                content: '' !important;
            }
        }
    }

    .form-dialog {
        padding-right: 40px;
        padding-bottom: 25px;
        padding-left: 40px;
        margin-top: 10vh;

        .dialog-footer {
            display: flex;
            justify-content: center;
        }
    }
}
